:root {
    --darkBlue: #1a4765;
    --blueAccent: rgb(63, 148, 205);
    --textColorLight: white;
    --veryDarkGray: #212121;
    --darkestColor: black;
}

body {
    background-color: var(--darkBlue);
    font-family: 'Poppins', sans-serif;
    font-size: 1.15em;
}

.exercise {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    color: var(--textColorLight);
    grid-gap: 1rem;
}

.exercise > div {
    background-color:var(--veryDarkGray);
    padding: 1rem;
    margin: 0rem;
    margin-bottom: 2rem;
    border-radius: 1em;
}

h2 {
    margin: 0rem;
}

.exercise > div > p {
    color: var(--blueAccent);
    margin: 0.25rem;
}

.exercise > div > button {
    background-color: var(--blueAccent);
    border: none;
    padding: 0.5rem;
    font-weight: 600;
    border-radius: 0.5em;
}

.menu {
    display: flex;
    position: absolute;
    bottom: 0;
    position: fixed;
    background-color: var(--veryDarkGray);
    width: 100%;
    left: 0;
    justify-content: space-evenly;
    padding: 1rem;
    opacity: 0.8;

    transform: translateY(8rem);
    transition: transform 400ms ease;

    
}

.menu:hover, menu:focus {
    transform: translateY(0rem);
    transition: transform 400ms ease;

}

.menu-title {
    display: inline-block;
    position: absolute;
    bottom: 6rem;
    color: var(--textColorLight);
    font-size: 1.25em;
    background-color: var(--veryDarkGray);
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 0.5em;
    text-align: center;
}

.new-exercise {
    position: relative;
    background-color: var(--blueAccent);
    border: none;
    padding: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: 700;
    margin: 1rem;
}



.calculator-btn {

    position: relative;
    background-color: var(--blueAccent);
    border: none;
    padding: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 700;
    margin: 1rem;
}


.save {
    position: relative;
    background-color: var(--blueAccent);
    border: none;
    padding: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-radius: 0.5em;
    font-size: 1.5em;
    font-weight: 700;
    margin: 1rem;
}

.remove-all {
    position: relative;
    background-color: var(--blueAccent);
    border: none;
    padding: 0.5rem;
    font-weight: 600;
    text-align: center; 
}

.new-exercise:hover, .new-exercise:focus, 
.remove-all:hover, .remove-all:focus,
.remove-exercise-btn:hover, .remove-exercise-btn:focus,
.status-btn:hover, .status-btn:focus,
.save:hover, .save:focus, 
.conversion-btn:hover,
.calculator-btn:hover, .calculator-btn:focus {
    cursor: pointer;
    color: var(--blueAccent);
    background-color: var(--darkestColor);
}

.status-btn {
    margin: 0.5rem;
    background-color: var(--blueAccent);
    border: none;
    padding: 0.3rem;
    font-weight: 600;
    border-radius: 0.5em;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.author {
    color: var(--textColorLight);
    position: relative;
    margin-right: 1rem;
    font-size: 0.75em;
    padding: 1rem;
}

.author a {
    text-decoration: none;
    color: var(--textColorLight);
}

.author a:hover, .author a:focus {
    color: var(--blueAccent);
}

.status {
    justify-content: flex-end;
    font-weight: bolder;
    align-items: center;
    font-size: 0.6em;
}


/* .test-paragraph {
    display: flex;
    justify-content: space-evenly;
    color: white;
} */

.target-paragraph {
    font-style: italic;
}

.set-counter-btn {
    background-color: var(--blueAccent);
    border: none;
    padding: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight: 600;
    border-radius: 0.5em;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5em;
    /* margin-top: 1rem; */
}

.set-counter-btn:hover,
.set-minus-btn:hover {
    background-color: var(--textColorLight);
}

.set-minus-btn {
    background-color: var(--blueAccent);
    border: none;
    padding: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight: 600;
    border-radius: 0.5em;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5em;
}

.conversion-btn {
    background-color: var(--blueAccent);
    border: none;
    padding: 0.3rem;
    font-weight: 600;
    border-radius: 0.5em;
    margin-left: 0.6rem;
    margin-bottom: 1rem;
}

@media  (max-width: 415px) {
    .status-btn {
        font-size: 0.4em;
    }

    .status {
        font-size: 0.4em;
    }
}