body {
    background-color: rgb(107, 52, 52);
    font-family: 'Poppins', sans-serif;
}

.exercise {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /* background-color: brown; */
    color: white;
    /* padding-bottom: 1rem;
    padding-top: 0rem; */
    grid-gap: 1rem;
}

.exercise > div {
    background-color:#212121;
    padding: 1rem;
    margin: 0rem;
}

h2 {
    margin: 0rem;
}

.exercise > div > p {
    color: rgb(63, 148, 205)
}

.exercise > div > button {
    background-color: rgb(63, 148, 205);
    border: none;
    padding: 0.5rem;
    font-weight: 600;
}

.btn {
    display: flex;
    position: absolute;
    bottom: 0;
    position: fixed;
    background-color: #212121;
    width: 100%;
    left: 0;
    justify-content: space-evenly;
    padding: 1rem;
}
.new-book {
    position: relative;
    background-color: rgb(63, 148, 205);
    border: none;
    padding: 0.5rem;
    font-weight: 600;
    text-align: center;
}

.remove-all {
    position: relative;
    background-color: peru;
    border: none;
    padding: 0.5rem;
    font-weight: 600;
    text-align: center; 
}

.new-book:hover, .new-book:focus, 
.remove-all:hover, .remove-all:focus,
.remove-book-btn:hover, .remove-book-btn:focus,
.read-state-btn:hover, .read-state-btn:focus {
    cursor: pointer;
    color: peru;
    background-color: black;
}

.read-state-btn {
    margin: 0.5rem;
}